<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>


    <table style="background-color: #9cd0ff; align-items: center; width: 500px; outline: 3px solid #9cd0ff;">

        <tr>
            <td style="background-color: #323232; width: 100%; text-align: center;">
                <h2 style="font-family: Helvetica, Arial, sans-serif; color: aliceblue; margin-top: 10px; margin-bottom: 15px;">{appName}</h2>
            </td>
        </tr>

        <tr>
            <td>
                <p style="font-size: 15px; font-family: Helvetica, Arial, sans-serif; margin-left: 10%; margin-top: 10px; margin-bottom: 10px;">
                    Hello {userId},<br>
                    Welcome to {appName}.<br>
                    To reset your password, please click on Reset Password button and enter the specified otp with your new password.<br>
                </p>
            </td>
        </tr>

        <tr>
            <td style="text-align: center;">
                <h3 style="margin-top: 10px; margin-bottom: 10px;">
                    OTP: {code}
                </h3>
            </td>
        </tr>

        <tr>
            <td style="text-align: center;">
                <button style="border-radius: 2px; padding: 8px 12px;border: 1px solid #323232; border-radius: 2px;
                font-family: Helvetica, Arial, sans-serif; font-size: 14px; background-color: #323232; color: aliceblue; 
                font-weight: bold; display: inline-block; margin-top: 10px; margin-bottom: 3px;" >
                    Reset Password
                </button><br>
                <a style="font-size: 11px; margin-bottom: 10px;" href="{link}">{link}</a>
            </td>
        </tr>

        <tr>
            <td>
                <p style="font-size: 15px; font-family: Helvetica, Arial, sans-serif; margin-left: 10%; margin-top: 10px; margin-bottom: 10px;">
                    Thank you,<br>
                    Team Destro Coders<br>
                </p>
            </td>
        </tr>

        <tr>
            <td style="background-color: #323232; width: 100%; text-align: justify;">
                <p style="font-size: 12px; font-family: Helvetica, Arial, sans-serif; margin-left: 2%; margin-right: 2%; margin-top: 10px; margin-bottom: 10px; color: aliceblue;">
                    Note: If button is not working for some reason, paste the link in the your internet browser
                    and enter the otp for completing verification. If you have not requested for account verification then please 
                    ignore this emai land contact customer care.</p>
            </td>
        </tr>

    </table>
    
</body>
</html>